  /* Footer links effects */
  #footer-links a{
    transition: all 0.6s ease;
  
  }
  
  #footer-links a:hover{
    text-decoration: underline;
  
  }
  
  #footer-links a #phone:hover{
    animation: ring 2s ease;
  }
  
  @keyframes ring {
    0% {
      rotate: 0deg;
    }
    40% {
      rotate: 90deg ;
    }
    60% {
      rotate: 180deg;
    }
    80% {
      rotate: 270deg;
    }
    100% {
      width: 360deg;
    }
    
  }
  
  
  
  