/*Overall page*/

html {
  scroll-behavior: smooth;
}

/* Nav bar animation*/
nav:hover {
color: #d42700;

}
nav a {
  transition:transform 0.4s ease, box-shadow 0.1s ease, background-color 0.3s ease;
  /* list-style-position: inside; */

}
nav a:hover {
    color: black;
    transform: scale(6);
    box-shadow: 0 16px 16px rgba(255, 255, 255, 0.678);
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.775);
    
}
/* Intro animation header section*/
#top {
  transition: transform 0.1s ease;
}
#top:hover {

  transform: scale(1.01);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0);
  background-color: hsla(11, 82%, 87%, 0.704);
}

header {
  justify-content: center;
 }

header:hover {
    color: black;
    transform: scale(1.05);
    transition: all 1s ease-in-out;
}


/* Bookmarks dropdown links */
  /* Dropdown styles */
  
#bookmarks ul li {
  transition: transform 0.2s ease-out;
  }
  
  #bookmarks ul li:hover {
    transform: scale(1.03);
    color: black;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 10px;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

  /* Show dropdown on hover */
  .dropdown:hover .dropdown-content {
      display: block;
  }



/*About section typewriter and cursor animation*/
.about-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-image img {
  max-width: 180px;
  height: auto;
  border-radius: 8px;
}

/* Responsive for smaller screens */
@media screen and (max-width: 600px) {
  .about-section {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-text {
    max-width: 90%;
    padding: 0 1rem;
  }

  .about-image img {
    max-width: 120px;
    width: 100%;
    height: auto;
  }
}

.typewriter-wrapper {
  display: inline-block;
  font-family: 'Courier New', monospace;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid #f47e17;
  font-size: 1.8rem;
}

.typewriter-text {
  overflow: hidden;
  animation: typing 3s steps(24) 1s 1 normal both;
}

.cursor {
  animation: blink 5s steps(1) infinite;
  color: #d42700;
  transition: ease-in-out;
}

.typewriter-text {
  display: inline-block;
  animation: typing 3s steps(30) 1s infinite,
             blink-caret 5s step-end infinite;
  overflow: hidden;
  transition: ease-in-out;
}

@keyframes typing { /* Animation keyframes for about section cursor and typewriter */

  0% {
    width: 0;
  }
  40% {
    width: 30ch;
  }
  60% {
    width: 30ch;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {   /* Keyframes for cursor blink */
  0%, 50% { opacity: 1; }
  50.01%, 100% { opacity: 0; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #00ffcc; }
}


/* Project section CSS*/
#prj {
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  padding: 12px;
  margin: 12px 0;
  border-radius: 8px;
  background-color: #1e1e1e;
  color: #fff;
  list-style-position: inside;

}
#prj:hover {
  transform: scale(1.03);
  background-color: #2b2b2b;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}



/* Socials bounce animation for individual logos*/
.x:hover {
  animation: bounce 0.6s infinite;
}

.github:hover {
  animation: bounce 0.6s infinite;
}

.linkedin:hover {
  animation: bounce 0.5s infinite;
}


@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


/* Blogpost cards */
  .blog-post {
      border: 1px solid #f8f7d0;
      padding: 20px;
      margin: 30px auto;
      max-width: 800px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.05);
      background-color: #fff;
      transition: transform 0.6s ease;
  }
  .blog-post:hover {
    transform: scale(1.03);
  }

  .blog-post h2 {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .blog-post sub {
      display: inline-block;
      padding: 4px 10px;
      border-radius: 4px;
      font-size: 0.8em;
      font-style: italic;
      margin-top: 5px;
  }

  .blog-post .tags {
      color: rgb(120, 130, 130);
      font-style: italic;
      margin-bottom: 15px;
  }

  .blog-post img {
      width: 100%;
      max-width: 400px;
      height: auto;
      display: block;
      margin: 10px auto;
  }

  .blog-post video {
      width: 100%;
      max-width: 600px;
      height: auto;
      display: block;
      margin: 10px auto;
  }

  .video-caption {
      text-align: center;
      font-size: 0.9em;
      color: gray;
  }

  .finale {
    background-color: #f0f0f0;
  }

  /* Footer links effects */
#footer-links a{
  transition: all 0.6s ease;

}

#footer-links a:hover{
  text-decoration: underline;

}

#footer-links a #phone:hover{
  animation: ring 2s ease;
}

@keyframes ring {
  0% {
    rotate: 0deg;
  }
  40% {
    rotate: 90deg ;
  }
  60% {
    rotate: 180deg;
  }
  80% {
    rotate: 270deg;
  }
  100% {
    width: 360deg;
  }
  
}



/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


@import url("https://fonts.googleapis.com/css?family=Raleway");

:root {
  --glow-color: hsl(7, 100%, 69%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
  }
}
